{% extends "layout.html"%}
{% block content %}
<div class="timeline-data-area">

    {% for post in data %}
    <div class="timepoint-wrapper hidden">
        <div class="timepoint">
            <img src="{{ url_for('static', filename='images/'+post.filename) }}">
            <div class="content">
                <h3 class="content-date">{{ format_date(post.date) }}</h3>
                <h1 class="content-head">{{ post.title }}</h1>
                <p class="content-descrp">
                    {{ mark(post.description) }}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
